body {
    background-color: #C7CEDB;
    font-family: Montserrat;
    font-weight: 400;

}

    
   

}
   .card {
      width: 100%;
      text-align: center;
          
  }
  .card-content{
      text-align: center;
      font-weight: bold;
      }

  .header-img {
        width: 100%;
        height: 400px;
        background: url("https://cdn.pixabay.com/photo/2020/04/19/21/25/field-5065671_960_720.jpg");
        background-size: cover;
      }