{% extends "base.html" %}
{% block content %}


    <h3 class="light-blue-text text-darken-4 center-align">Add recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}" >
            <!-- cuisine selection -->
			<div class="row">
				<div class="input-field col s12 ">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="cuisine_id" name="cuisine_id" class="validate" required>
                    <option value="" disabled selected>Choose Cuisine</option>
                    {% for cuisine in cuisines %}
                        <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                    {% endfor %}
                </select>
                <label for="cuisine_id">Cuisine</label>
            </div>
			</div>
            
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="title" name="title" minlength="3"
                        maxlength="200" pattern="^[^ ].+[^ ]$" class="materialize-textarea validate" required></textarea>
                    <label for="title">Recipe</label>
                </div>
            </div>
            
        <!-- image -->
        
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <input type="url" textarea id="image" pattern="https?://.+" autocomplete="off" value="http://content.bikeroar.com/system/content/000/090/477/original/CyclistEating.jpg?1397100736" placeholder="A link to your recipe image - must begin http:// or https://" name="image" minlength="5"
                        maxlength="400" class="materialize-textarea validate" required></textarea>
                    <label for="image">Enter a URL for your recipe image or leave this url for the default image</label>
                </div>
            </div>

           <!-- ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="ingredients" name="ingredients" pattern="^[^ ].+[^ ]$" minlength="3"
                        maxlength="2000" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>

                      
            <!-- method -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="method" name="method" minlength="5"
                        maxlength="2000" pattern="^[^ ].+[^ ]$" class="materialize-textarea validate" required></textarea>
                    <label for="method">Method</label>
                </div>
            </div>

            <!--  date  -->
            <div class="row">
                <input type="text" id="date_posted" name="date_posted" value="{{ date_posted }}" style="display: none;">
                                        
                    <label for="date_posted" style="display: none;">Date Created</label>

                    
            </div>


        </div>
            
      
                        
        
                                          
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green text-shadow">
                        Add Recipe 
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}