{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Edit recipe</h3>

    <div class="row card grey lighten-5">
        <form class="col s12 m6 offset-m3 l4 offset-l4 " method="POST" action="{{ url_for('edit_recipe', _id=recipe._id)  }}">
            <!-- cuisine selection -->
			<div class="row">
				<div class="input-field col s12 flow-text">
        <i class="fas fa-folder-open prefix light-blue-text text-darken-4 flow-text"></i>
                    <select id="cuisine_id" name="cuisine_id" class="validate" required>
                    <option value="" disabled >Choose Cuisine</option>
                {% for cuisine in cuisines %}
                    {% if cuisine.id == recipe.cuisine_id | int %}
                        <option value="{{ cuisine.id }}" selected>{{ cuisine.cuisine_name }}</option>
                    {% else %}
                        <option value="{{ cuisine.id }}">{{ cuisine.cuisine_name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
                    <label for="cuisine_id">Cuisine</label>
                </div>
			</div>
            
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="title" name="title" minlength="3"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{ recipe.title }} 
                    </textarea>
                    <label for="title">Recipe</label>
                </div>
            </div>
            
        <!-- image -->
        
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="image" name="image" minlength="3">
                        {{- recipe.image -}} 
                    </textarea>
                    <label for="image">image</label>
                </div>
            </div>

           <!-- ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required>
                        {{- recipe.ingredients -}} 
                    </textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>

                      
            <!-- method -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="method" name="method" minlength="5"maxlength="200" pattern="^[^ ].+[^ ]$" class="materialize-textarea validate" required>
                    {{- recipe.method -}} 
                </textarea>
                <label for="method">Method</label>
                </div>
            </div>

            <!--  date  -->

            
            <div class="row">
                <div class="input-field col s12">
                        <textarea id="date_posted" name="date_posted" minlength="5" type="text"
                            maxlength="200" class="materialize-textarea validate" required>
                            {{ recipe.date_posted }} 
                        </textarea>
                    <label for="date_posted">Due Date</label>
                </div>
            </div>
      
                        
        
                                             
            <!-- submit button -->
            


    <div class="row">
        <div class="col s12 center-align">
            <!-- cancel button -->
            <a href="{{ url_for('get_recipes') }}" class="btn-large red text-shadow">
                Cancel <i class="fas fa-times-circle right"></i>
            </a>
            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                Save <i class="fas fa-plus-square right"></i>
            </button>
        </div>
    </div>
{% endblock %}