{% extends "base.html" %}
{% block content %}

<div class=" header-img responsive-img" >
  <H1 class=" white-text ">CooknRide</H1>  
  <h2 class=" white flow-text ">To ride well you need to fuel well. Share your recipes here with other cyclists. Register and login if you want to add recipes, or just view the recipes the other club members have added. Food to make you ride your bike to the max!</h2>
<h4 class="white grey-text flow-text">Click the recipe title to see the full list of ingredients and the method of cooking.</h4>

</div> 
  {% for recipe in recipes %}
   
    <div class="row">
      <div class="col s12 m6 offset-m3 l4 offset-l4">
        <div class="card center">
          <div class="card-image">
            <img class="responsive-img" src="{{ recipe.image }}" alt="Recipe image" >
           </div>
          <div class="card-content">
            <span class="card-title"><h3 class="center-align light-blue-text text-darken-4"><a href="{{ url_for('recipe',  _id=recipe._id) }}">{{ recipe.title }}</a></span></a>
          </div>
          <div class="card-action">
            <a href="{{ url_for('delete_recipe',  _id=recipe._id) }}"class="btn-small green">Delete</a>
            <a href="{{ url_for('edit_recipe',  _id=recipe._id) }}"class="btn-small green">Edit</a>
          </div>
        </div>
      </div>
    </div>
   
      {% endfor %}             

{% endblock %}


