{% extends "base.html" %}
{% block content %}

<div class="header-img responsive-img" style="position: relative;">
  <div class="white-text center-align font-weight-bold" style="position: absolute; top: 60%; left: 70%; transform: translate(-50%, -50%); font-size: 4rem; text-shadow: 2px 2px rgba(0, 0, 0, 0.3)">
    <h1>CooknRide</h1>
  </div>
</div>

<div >
  <p class="flow-text font-weight-bold text-secondary center-align">To ride well you need to fuel well. Share your recipes here with other cyclists. Register and login if you want to add recipes, or just view the recipes the other club members have added. Food to make you ride your bike to the max!</p>
  <p class="flow-text center-align">Search for a recipe by ingredient or name, or scroll down to see all recipes. <br>Click the recipe title to see the full list of ingredients and the method of cooking.</p>
</div>

<div class="container my-5">
  <form action="{{ url_for('search') }}" method="post">
    <div class="input-field d-flex align-items-center" style="background-color: rgba(255, 255, 255, 0.3); border: 2px solid green; border-radius: 10px;">
      <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
      <input type="text" name="query" id="query" minlength="3" class="validate" required style="font-size: 1.2rem; padding: 10px; flex-grow: 1;">
      <label for="query">Search</label>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="light-green btn text-shadow mr-3">
        Search
        <i class="fas fa-search ml-2"></i>
      </button>
      <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
    </div>
  </form>
</div>



{% if recipes|length > 0 %}
  <div class="row">     
    {% for recipe in recipes %}
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <a href="{{ url_for('recipe',  _id=recipe._id) }}">
              <img  src="{{ recipe.image }}" alt="Recipe image" >
            </a>
          </div>
          <div class="card-content">
            <h3 class="center-align light-blue-text text-darken-4">
              <span class="card-title">
                <a href="{{ url_for('recipe',  _id=recipe._id) }}">{{ recipe.title }}</a>
              </span>
            </h3>
          </div>
          <div class="card-action justify-content-center" style="position: absolute; bottom: 0;">
              <a href="{{ url_for('recipe',  _id=recipe._id) }}" class="btn-small green">View</a>

              {% if session.user|lower == "admin"|lower %}
                  <a href="{{ url_for('edit_recipe',  _id=recipe._id) }}" class="btn-small green">Edit</a>
                  <a href="{{ url_for('delete_recipe',  _id=recipe._id) }}" class="btn-small red">Delete</a>
              {% endif %}
            
              {% if session["user"] == recipe["user_id"] %}
                <a href="{{ url_for('edit_recipe',  _id=recipe._id) }}" class="btn-small green">Edit</a>
                <a href="{{ url_for('delete_recipe',  _id=recipe._id) }}" class="btn-small red">Delete</a>
              {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <h3 class="red-text center-align">No Results Found</h3>
{% endif %}
      {% endblock %}