{% extends "base.html" %}
{% block content %}

    
    {% for recipe in recipes %}
    <div class="content">
      <div class="grid">
        <figure class="effect-winston ">
          <img src="{{ url_for('static', filename='images/' + 'default.jpg') }}" alt="Photo of recipe"/>
          <figcaption>              
            <h4><a href="#">{{recipe.title }}</a></h4>
            <p>
              <a href="#"><i class="fa fa-fw fa-star-o"></i></a>
              <a href="#"><i class="fa fa-fw fa-edit"></i></a>
              <a href="#"><i class="fa fa-fw fa-trash-o"></i></a>
            </p>
          </figcaption>			
        </figure>
      </div>
    </div>
      {% endfor %}             

{% endblock %}


